<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] %c - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="off"> <!-- off -->
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>